[submodule "gte/go-training"]
	path = gte/go-training
	url = git@github.com:GoesToEleven/GolangTraining.git
[submodule "gte/go-ninja"]
	path = gte/go-ninja
	url = git@github.com:GoesToEleven/go-programming.git
[submodule "gte/go-web-dev"]
	path = gte/go-web-dev
	url = git@github.com:GoesToEleven/golang-web-dev.git
[submodule "ardanlabs/gotraining"]
	path = ardanlabs/gotraining
	url = git@github.com:ardanlabs/gotraining.git
[submodule "learn-go"]
	path = learn-go
	url = git@github.com:fostercs/learn-go.git
